@import model.data._
@(relation: Relation)

@main("Relation " + relation.label) {
	<a>
		@{println(relation.parseData mkString "\n")}
		@{println(List("a","b","c") mkString "\n")}
	</a>
	<a href="/markovLogic/relation/id/@relation.id">Show Markov Logic</a>
	<div class="row	">
		<table class="table table-striped">
			@defining(relation.parseData) {data => 
			<thead>
				<tr>
				@data.head.map { case(k,v) =>
					<th>@k</th>
				}
				</tr>
			</thead>
			<tbody>
			@data.map { row =>
			<tr>
				@row.map { case(k,v) =>
					<td>@v</td>
				}
			</tr> 
			}
			</tbody>
		}
		</table>
	</div>
}